/*Style sheet for contact.html*/
/*Written by Cody Tersigni*/

*{
  text-align: center;
}
.emailimg{
  width: 150px;
  height: 150px;
}

.emailtext{
}

.facebookimg{
  width: 200px;
  height: 150px;
}

.facebooktext{
}

.instaimg{
  width:150px;
  height: 150px;
}

.instatext{
}

.phoneimg{
  width:150px;
  height: 150px;
}

.phonetext{
}
