/*Style sheet for Schedule.html*/
/*Written by Cody Tersigni*/

table{
  border: 40px solid transparent;
  border-image: url(../Images/curtains.png) 30 stretch;
}
th, tr{
  border: 2px solid red;
  border-collapse: collapse;
}

.tableimg{
  width: 100px;
  height: 100px;
}
